.page_wrapper{
  overflow: hidden;
  max-width: 1350px;
  margin: 0 auto;
}
.background_shape_1{
  position: absolute;
  left: 0%;
  top: -10rem;
  right: auto;
  bottom: auto;
  z-index: -1;
  max-width: 50%;
}
.background_shape_2{
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  max-width: 60%;
}
.background_shape_3{
  position: absolute;
  left: auto;
  top: 120rem;
  right: 0%;
  bottom: auto;
  z-index: -1;
  max-width: 50%;
}
.main_wrapper {
  padding-top: 60px;
}
.container_medium h1{
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3.375rem;
  line-height: 5.25rem;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 45px;
}
.page_padding{
  overflow: hidden;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}
.text_color_light{
  color: #788ca0;
  font-size: 25px;
  line-height: 2rem;
  letter-spacing: 0.25px;
  text-align: center;
  margin-top: 30px;
}

/*estilos boton contacto*/
.cta {
  position: relative;
  margin: auto;
  padding: 8px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background-color: #6333ff;
  opacity: 0.5;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 6px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background-color: #6333ff;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
.header_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
/*fin estilos boton contacto*/

.container_middle{
  overflow: hidden;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}
.left_side{
  width: 35%;
}
.img_left{
  width: 100%;
  border-radius: 1rem;
}
.container_boton {
  position: absolute;
  bottom: -210px;
  display: flex;
  gap: 15px;
}
.right_side{
  width: 45%;
}
.right_side h3{
  margin: 0 0 22px 0;
}



